<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/style.css">
<script type="text/javascript" src="/javascripts/register.js" defer=true></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<title>Youth Can Code - 2020</title>
</head>
<body class="ycc-black">
<nav class="ycc-sidebar ycc-sidebar-block ycc-hide-small ycc-small ycc-center">
  <a href="#" class="ycc-bar-item ycc-padding-large ycc-hover-black">
    <i class="fa fa-home ycc-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#challenges" class="ycc-bar-item ycc-padding-large ycc-hover-black">
    <i class="fa fa-trophy ycc-xxlarge"></i>
    <p>CHALLENGES</p>
  </a>
  <a href="#award" class="ycc-bar-item ycc-padding-large ycc-hover-black">
    <i class="fa fa-award ycc-xxlarge"></i>
    <p>AWARD</p>
  </a>
  <a href="#schedule" class="ycc-bar-item ycc-padding-large ycc-hover-black">
    <i class="fa fa-clock ycc-xxlarge"></i>
    <p>SCHEDULE</p>
  </a>
  <a href="#sponsors" class="ycc-bar-item ycc-padding-large ycc-hover-black">
    <i class="fa fa-users-cog ycc-xxlarge"></i>
    <p>SPONSORS</p>
  </a>
</nav>
<div class="ycc-topbar ycc-topbar-block ycc-hide-medium ycc-hide-large ycc-small ycc-opacity ycc-hover-opacity-off ycc-black ycc-center">
  <a href="#" class="ycc-bar-item ycc-hover-light-grey-shadow">HOME</a>
  <a href="#challenges" class="ycc-bar-item ycc-hover-light-grey-shadow">CHALLENGES</a>
  <a href="#schedule" class="ycc-bar-item ycc-hover-light-grey-shadow">SCHEDULE</a>
  <a href="#sponsors" class="ycc-bar-item ycc-hover-light-grey-shadow">SPONSORS</a>
</div>
<!-- Page Content -->
<div class="ycc-padding-large" id="main">
  <!-- Header -->
  <header class="ycc-padding-32-16 ycc-black ycc-center ycc-relative">
    <img src="/images/jci_home_page_2.jpeg" alt="Opening Ceremony Image" class="ycc-image">
    <button class="ycc-absolute-register-btn" onclick="document.getElementById('ticketModal').style.display='block'">Register Now</button>
    <article>
      <% if(success) { %>
        <div><%= success %></div>
      <% } %>
      <% if(error) { %>
        <div><%= error %></div>
      <% } %>
    </article>
  </header>
  <!-- About -->
  <div class="ycc-content ycc-justify ycc-padding-16 ycc-text-grey" id="about">
    <h2 class="ycc-text-light-grey">What-is-JCI-DRAGON-Hackathon?</h2>
    <p>JCI Hackathon is the top 3 annual event of JCI DRAGON in 2020 where students from Asian universities team up to ideate, design, build and publish their innotech inventions. 
      Get ready for 24 hours of intense excitement and be inspired by fellow university students, tech leaders, entrepreneurs and industry experts! </p>
    <h2 class="ycc-text-light-grey">What-is-JCI-DRAGON?</h2>
    <p>JCI is a nonprofit organization of young active citizens age 18 to 40 who are engaged and committed to creating impact in their communities. JCI Dragon was established in 1980. 
      It is the 11th local chapter (LOM) of the Junior Chamber International Hong Kong (JCIHK). This is an all-male English speaking chapter. 
      It has about 190 members, including full members and senior members, who are mainly entrepreneurs, professionals, company executives, and financiers.</p>
    <div id="challenges" class="page-sections ycc-padding-32-16">
      <div class="wrap">
        <h2 class="ycc-text-light-grey">Challenges</h2>
        <div class="container xl">
          <div class="items">
            <div class="item" style="background-image: url(../images/c3.jpg)">
              <div class="wrap">
                <img src="/images/i1.png">
                <h1>8</h1>
                <p>DECENT WORK AND ECONOMIC GROWTH</p>
              </div>
            </div>
            <div class="item" style="background-image: url(../images/c1.jpg)">
              <div class="wrap">
                <img src="/images/i2.png">
                <h1>9</h1>
                <p>INDUSTRY,INNOVATION AND INFRASTRUCTURE</p>
              </div>
            </div>
            <div class="item" style="background-image: url(../images/c2.jpg)">
              <div class="wrap">
                <img src="/images/i3.png">
                <h1>10</h1>
                <p>REDUCED INEQUALITIES</p>
              </div>
            </div>
            <div class="item" style="background-image: url(../images/c2.jpg)">
              <div class="wrap">
                <img src="/images/i3.png">
                <h1>11</h1>
                <p>SUSTAINABLE CITIES AND COMMUNITIES</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="ycc-padding-16 ycc-text-light-grey" id="award">Award</h2>
    <div class="ycc-row ycc-padding-16 ycc-light-grey ycc-section ycc-center">
      <div class="ycc-quarter ycc-section">
        <span class="ycc-xlarge">20+</span><br>
        Sponsors
      </div>
      <div class="ycc-quarter ycc-section">
        <span class="ycc-xlarge">25+</span><br>
        Teams
      </div>
      <div class="ycc-quarter ycc-section">
        <span class="ycc-xlarge">100+</span><br>
        Participants
      </div>
      <div class="ycc-quarter ycc-section">
        <span class="ycc-xlarge">$18000</span><br>
        Total Prizes
      </div>
    </div>
    <div class="ycc-row ycc-row-padding ycc-row-margin">
      <div class="ycc-half ycc-margin-bottom">
        <ul class="ycc-ul ycc-white ycc-center ycc-opacity ycc-hover-opacity-off">
          <li class="ycc-dark-grey ycc-xlarge ycc-padding-32">First Prize</li>
          <li class="ycc-padding-16">Great Idea</li>
          <li class="ycc-padding-16">Full Programming</li>
          <li class="ycc-padding-16">Great Presentation</li>
          <li class="ycc-padding-16">
            <h2>$ 10000</h2>
            <span class="ycc-opacity">Champion</span>
          </li>
        </ul>
      </div>
      <div class="ycc-half ycc-margin-bottom">
        <ul class="ycc-ul ycc-white ycc-center ycc-opacity ycc-hover-opacity-off">
          <li class="ycc-dark-grey ycc-xlarge ycc-padding-32">Second Prize</li>
          <li class="ycc-padding-16">Good Idea</li>
          <li class="ycc-padding-16">Half Programming</li>
          <li class="ycc-padding-16">Good Presentation</li>
          <li class="ycc-padding-16">
            <h2>$ 5000</h2>
            <span class="ycc-opacity">1st Runner-up</span>
          </li>
        </ul>
      </div>
      <div class="ycc-half">
        <ul class="ycc-ul ycc-white ycc-center ycc-opacity ycc-hover-opacity-off">
          <li class="ycc-dark-grey ycc-xlarge ycc-padding-32">Third Prize</li>
          <li class="ycc-padding-16">Good Idea</li>
          <li class="ycc-padding-16">Good Presentation</li>
          <li class="ycc-padding-16">
            <h2>$ 3000</h2>
            <span class="ycc-opacity">2nd Runner-up</span>
          </li>
        </ul>
      </div>
    </div>
    <button class="ycc-hover-light-grey-shadow ycc-light-grey ycc-padding-large ycc-section">
      <i class="fa fa-download"></i> Download PowerPoint
    </button>
    <div id="schedule" class="page-sections">
      <h2 class="ycc-padding-32-16 ycc-text-light-grey">Hackathon Schedule</h2>
      <div class="row timetable ycc-text-grey">
        <div class="col col-sm-12 col-md-4 day friday">
          <div class="h3 text-uppercase">FEB 15, 2020 (Sat) - Opening</div>
          <ol>
            <li>
              <p class="time">5:00 PM - 6:00 PM</p>
              <p class="title">Registration, networking, drinks &amp; light dinner</p>
            </li>
            <li>
              <p class="time">6:00 PM - 7:00 PM</p>
              <p class="title">Day 1 welcome &amp; opening remarks</p>
            </li>
            <li>
              <p class="time">7:00 PM - 7:30 PM</p>
              <p class="title">Ice-breaking &amp; idea pitching</p>
            </li>
            <li>
              <p class="time">7:30 PM - 8:15 PM</p>
              <p class="title">Team formation session</p>
            </li>
            <li>
              <p class="time">8:15 PM - 9:45 PM</p>
              <p class="title">Technical Session by Microsoft</p>
            </li>
            <li>
              <p class="time">9:45 PM</p>
              <p class="title">Closing</p>
            </li>
          </ol>
        </div>
        <div class="col col-sm-12 col-md-4 day saturday">
          <div class="h3 text-uppercase">MAR 14, 2020 (Sat) - Onine Workshop</div>
          <ol>
            <li>
              <p class="time">8:30 AM - 9:00 AM</p>
              <p class="title">Registration, networking, drinks &amp; snacks</p>
            </li>
            <li>
              <p class="time">9:00 AM - 9:20 AM</p>
              <p class="title">Day 2 opening remarks</p>
            </li>
            <li>
              <p class="time">9:20 AM - 12:20 PM</p>
              <p class="title">Building begins<br>Design-thinking workshop</p>
            </li>
            <li>
              <p class="time">12:20 PM - 1:20 PM</p>
              <p class="title">Lunch</p>
            </li>
            <li>
              <p class="time">1:20 PM - 7:50 PM</p>
              <p class="title">Building &amp; hacking<br>Pitching workshop</p>
            </li>
            <li>
              <p class="time">7:50 PM - 8:50 PM</p>
              <p class="title">Buffet Dinner</p>
            </li>
            <li>
              <p class="time">7:50 PM - 10:00 PM</p>
              <p class="title">Building &amp; hacking</p>
            </li>
            <li>
              <p class="time">10:00 PM</p>
              <p class="title">Closing</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <h2 class="ycc-padding-16 ycc-text-light-grey">Expert</h2>
    <div class="ycc-row ycc-row-padding ycc-row-margin">
      <div class="ycc-third-half ycc-margin-bottom">
      <div class="card">
        <img class="card-img-top" src="/images/photo_11.jpg">
        <div class="card-block">
          <h4>Almond Wong</h4>
          <a class="ycc-text-none" href="https://www.linkedin.com/in/almondwong-1021/" target="_blank">Group Chief People <i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
      </div>
      <div class="ycc-third-half ycc-margin-bottom">
      <div class="card">
        <img class="card-img-top" src="/images/photo_11.jpg">
        <div class="card-block">
          <h4>Charles Lam</h4>
          <a class="ycc-text-none" href="https://www.linkedin.com/in/lamcharles/" target="_blank">Senior Manager <i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
      </div>
      <div class="ycc-third-half ycc-margin-bottom">
      <div class="card">
        <img class="card-img-top" src="/images/photo_11.jpg">
        <div class="card-block">
          <h4>Henry Li</h4>
          <a class="ycc-text-none" href="https://www.linkedin.com/in/henry-li-27438161/" target="_blank">Head of Specialized Sales <i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
      </div>
      <div class="ycc-third-half ycc-margin-bottom">
      <div class="card">
        <img class="card-img-top" src="/images/photo_11.jpg">
        <div class="card-block">
          <h4>Patrick Ho</h4>
          <a class="ycc-text-none" href="https://www.linkedin.com/in/patrick-ho-56150a44/" target="_blank">Chief Digital Officer, <br>Convoy Global Holdings Limited <i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
      </div>
      <div class="ycc-third-half ycc-margin-bottom">
      <div class="card">
        <img class="card-img-top" src="/images/photo_11.jpg">
        <div class="card-block">
          <h4>Charleston Sin</h4>
          <a class="ycc-text-none" href="https://hkinnovationnode.mit.edu/about/team/" target="_blank">Executive Director, <br>MIT Hong Kong Innovation Node <i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
      </div>
      <div class="ycc-third-half ycc-margin-bottom">
      <div class="card">
        <img class="card-img-top" src="/images/photo_11.jpg">
        <div class="card-block">
          <h4>Charm Toa</h4>
          <a class="ycc-text-none" href="https://www.linkedin.com/in/toacharm/" target="_blank">Associate Professor, <br>Business School, Chinese University of Hong Kong <i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
      </div>
    </div>
  </div>

  <h2 class="ycc-padding-32-16 ycc-text-light-grey" id="sponsors">Sponsors</h2>
  <div class="ycc-row ycc-row-padding ycc-row-margin">
    <div class="ycc-third-half ycc-center ycc-sponser-image ycc-margin-bottom">
      <h6 class="ycc-text-grey">Technology Enabler</h6>
      <img style="width: 100%" src="/images/ms.png">
    </div>
    <div class="ycc-third-half ycc-center ycc-sponser-image ycc-margin-bottom">
      <h6 class="ycc-text-grey">Hackathon Consultant</h6>
      <img style="width: 100%" src="/images/cobo.png">
    </div>
    <div class="ycc-third-half ycc-center ycc-sponser-image ycc-margin-bottom">
      <h6 class="ycc-text-grey">Academic Partner</h6>
      <img style="width: 100%" src="/images/MIT.png">
    </div>
    <div class="ycc-third-half ycc-center ycc-sponser-image ycc-margin-bottom">
      <h6 class="ycc-text-grey">Academic Partner</h6 >
      <img style="width: 100%" src="/images/hkust.png">
    </div>
  </div>


  <div class="ycc-padding-16 ycc-content" id="photos">
    <h2 class="ycc-text-light-grey">Last Year Photos</h2>
    <!-- Grid for photos -->
    <div class="ycc-row ycc-row-padding ycc-row-margin">
      <div class="ycc-half">
        <img src="/images/photo_1.jpg" style="width:100%">
        <img src="/images/photo_2.jpg" style="width:100%">
        <img src="/images/photo_3.jpg" style="width:100%">
      </div>

      <div class="ycc-half">
        <img src="/images/photo_11.jpg" style="width:100%">
        <img src="/images/photo_12.jpg" style="width:100%">
        <img src="/images/photo_13.jpg" style="width:100%">
        <img src="/images/photo_14.jpg" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Footer Section -->
  <footer class="ycc-content ycc-padding-16 ycc-text-grey ycc-xlarge">
    <i class="fab fa-facebook ycc-hover-opacity"></i>
    <i class="fab fa-google ycc-hover-opacity"></i>
    <i class="fab fa-snapchat ycc-hover-opacity"></i>
    <i class="fab fa-whatsapp ycc-hover-opacity"></i>
    <i class="fab fa-twitter ycc-hover-opacity"></i>
    <i class="fab fa-linkedin ycc-hover-opacity"></i>
  <!-- End footer -->
  </footer>

  <div id="ticketModal" class="ycc-modal" style="display: none;">
    <div class="ycc-modal-content ycc-animate-top ycc-card-4">
      <img src="/images/registeration-form-bg.png" class="ycc-register-bg">
      <form method="post" class="ycc-padding-fat ycc-text-grey">
        <p><label><i class="fa fa-envelope"></i> Email Address * </label></p>
        <input class="ycc-input ycc-border" type="text" placeholder="Enter notification email" name="email" required/>
        <p><label><i class="fa fa-key"></i> Password * </label></p>
        <input class="ycc-input ycc-border" type="text" placeholder="Enter your password" name="password" required/>
        <p><label><i class="fa fa-key"></i> Repeat Password * </label></p>
        <input class="ycc-input ycc-border" type="text" placeholder="Re-enter your password" name="password-repeat" required/>
        <p><label><i class="fa fa-school"></i> University * </label></p>
        <input class="ycc-input ycc-border" type="text" placeholder="Enter your university" name="university" required/>
        <p><label><i class="fa fa-user"></i> Name * </label></p>
        <input class="ycc-input ycc-border" type="text" placeholder="Enter your name" name="name" required/>
        <p><label><i class="fa fa-mobile"></i> Phone Number * </label></p>
        <input class="ycc-input ycc-border" type="text" placeholder="Enter notification phone" name="phone-number" required/>
        <button class="ycc-block ycc-teal ycc-padding-8 ycc-section ycc-right" onclick="location.href='/'">SUBMIT <i class="fa fa-check-circle"></i></button>
        <button class="ycc-block ycc-teal ycc-padding-8 ycc-section" onclick="document.getElementById('ticketModal').style.display='none'">CANCEL <i class="fa fa-times-circle"></i></button>
      </form>
    </div>
  </div>
</div>
<nav id="basic-btn">
  <% if(user) { %>
    <!-- <span><a href="/post">Post</a></span> -->
    <div>
      <!-- <button class="ycc-logout-btn" onclick="location.href='/logout'">Logout</button> -->
    </div>
  <% } else { %>
    <div>
      <!-- <button class="ycc-logout-btn" onclick="location.href='/login'">Login</button></span>
      <button class="ycc-logout-btn" onclick="location.href='/reg'">Register</button></span> -->
    </div>
  <% } %>
</nav>
<article>
<!-- <% if(success) { %>
  <div><%= success %></div>
<% } %>
<% if(error) { %>
  <div><%= error %></div>
<% } %> -->
