<%- include header %>
<form method="post">
  UserName: <input type="text" name="name"/><br/>
  PassWord: <input type="password" name="password"/><br/>
  PassWord-Repeat: <input type="password" name="password-repeat"/><br/>
  Email: <input type="email" name="email"/><br/>
         <input type="submit" value="Submit"/>
</form>
<%- include footer %>