article {
	font-size: 16px;
	padding-top: .5em;
}

article a {
	color: #dd0000;
	text-decoration: none;
}

article a:hover {
	color: #333333;
	text-decoration: underline;
}

.info {
	font-size: 14px;
}

.ycc-black, .ycc-hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}

.ycc-white, .ycc-hover-white:hover {
	color: #000!important;
	background-color: #fff!important
}

.ycc-dark-grey, .ycc-hover-dark-grey:hover {
	color: #fff!important;
	background-color: #616161!important
}

.ycc-light-grey, .ycc-hover-light-grey:hover {
  color: #000!important;
  background-color: #f1f1f1!important;
}

.ycc-light-grey-shadow, .ycc-hover-light-grey-shadow:hover {
  color: #000!important;
	background-color: #ccc!important;
}

.ycc-text-grey {
  color: #757575!important;
}

.ycc-text-light-grey {
  color: #f1f1f1!important;
}

.ycc-text-white {
  color: #fff!important;
}

.ycc-border-grey,.ycc-hover-border-grey:hover,.ycc-border-gray,.ycc-hover-border-gray:hover {
	border-color: #9e9e9e!important
}

.ycc-teal,.ycc-hover-teal:hover {
	color: #fff!important;
	background-color: #009688!important
}

.ycc-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}

#main, #basic-btn {
  margin-left: 120px;
}

#main, #basic-btn {
  transition: margin-left .4s;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  /* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
  -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html, body {
	font-size: 16px;
  line-height: 1.5;
  /* index */
  height: 100%; 
}

body, h1, h2, h3, h4, h5, h6, h7 {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  font-family:"Roboto", 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 10px 0;
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

button, input, select, textarea, optgroup {
  font: inherit;
}

.ycc-small {
	font-size: 12px!important;
}

.ycc-medium {
  font-size: 15px!important;
}

.ycc-large {
  font-size: 18px!important;
}

.ycc-xlarge {
  font-size: 24px!important;
}

.ycc-xxlarge {
  font-size: 36px!important;
}

.ycc-jumbo {
  font-size: 64px!important;
}

.ycc-sidebar {
  width: 120px;
  height: 100%;
  background-color: #222; 
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}

.ycc-sidebar-block .ycc-bar-item {
  width: 100%;
  color: inherit;
  background-color: inherit;
  border: none;
  text-decoration: none;
  display: block;
}

.ycc-topbar {
  width: 100%;
  position: fixed!important;
  z-index: 1;
}

.ycc-topbar-block {
  display: flex;
}

.ycc-topbar-block .ycc-bar-item {
  width: 100%;
  color: inherit;
  background-color: inherit;
  border: none;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  flex: 1;
}

.ycc-opacity, .ycc-hover-opacity:hover {
  opacity: 0.60;
}

.ycc-opacity-off, .ycc-hover-opacity-off:hover {
  opacity: 1.0;
}

.ycc-image {
  max-width:100%;
  height: auto;
}

.ycc-padding-small {
	padding: 4px 8px!important
}

.ycc-padding-middle {
	padding: 8px 16px!important
}

.ycc-padding-fat {
	padding: 4px 16px!important
}

.ycc-padding-large {
  padding: 12px 24px!important;
}

.ycc-padding-8 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.ycc-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.ycc-padding-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important;
}

.ycc-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.ycc-padding-32-16 {
  padding-top: 32px!important;
  padding-bottom: 16px!important;
}

.ycc-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}

.ycc-center {
  text-align: center!important;
}

.ycc-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.ycc-justify {
  text-align: justify!important;
}

.ycc-row:before, .ycc-row::after {
  content: "";
	display: table;
  clear: both;
}

.ycc-row-padding {
  padding: 0 8px;
}

.ycc-row-padding>.ycc-half, .ycc-row-padding>.ycc-third {
  padding: 0 8px;
}

.ycc-row-padding>.ycc-half, .ycc-row-padding>.ycc-third, .ycc-row-padding>.ycc-third-half {
  padding: 0 8px;
}

.ycc-row-margin {
  margin: 0 -16px;
}

.ycc-margin-bottom {
  margin-bottom: 16px!important;
}

.ycc-margin-right {
  margin-right: 16px!important;
}

.ycc-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.ycc-ul li {
  border-bottom: 1px solid #ddd;
}

.ycc-left {
	float: left!important
}

.ycc-circle {
	border-radius: 50%
}

.ycc-quarter, .ycc-half, .ycc-third, .ycc-third-half {
  float: left;
	width: 100%
}

.ycc-input {
  width: 100%;
  padding: 8px;
  border: none;
}

.ycc-border {
	border: 1px solid #ccc!important
}

.ycc-register-bg {
  width: 100%;
}

.ycc-animate-opacity {
	animation: opac 0.8s
}

.ycc-animate-top {
	position: relative;
	animation: animatetop 0.4s
}

.ycc-display-topleft {
	position: absolute;
	left: 0;
	top: 0
}

.ycc-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%)
}

.ycc-text-none {
  text-decoration: none;
  color: #fff;
}

#challenges .items {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

#challenges .items .item {
  text-align: center;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
  border-radius: 50%;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: 20px;
}

#challenges .items .item:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#challenges .items .item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 0;
}

#challenges .items .item:hover:after {
  background-color: rgba(0, 0, 0, 0.1);
}

#challenges .items .item .wrap {
  z-index: 1;
  position: absolute;
}

#challenges .items .item img {
  max-height: 70px;
}

#challenges .items .item h1 {
  color: #FFF;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-sections {
  overflow: hidden;
}

.container.xl {
  max-width: 1440px;
  width: auto;
  padding: 0 20px;
}

.col-sm-4 {
  width: 50%;
}

.card {
  min-height: 300px;
  max-height: 500px;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin-top: 15px;
  padding: 0.5em;
  text-align: center;
}

.ycc-sponser-image {
  min-height: 180px;
  max-height: 220px;
}

.ycc-absolute-register-btn {
  position: absolute!important;
  left: 50%!important; 
  transform: translateX(-50%)!important;
  bottom: 15%!important;
  border: 1px solid transparent;
  border-radius: 4px!important;
  background-color: #FFF;
  color: #ee196b;
  font-weight: 700;
  cursor: pointer;
}

.ycc-logout-btn {
  bottom: 15%!important;
  border: 1px solid transparent;
  border-radius: 4px!important;
  background-color: #FFF;
  color: #ee196b;
  font-weight: 700;
  cursor: pointer;
  right: 0px;
}

.ycc-relative {
  position: relative!important;
}

.ycc-modal {
	z-index: 3;
	display: none;
	padding-top: 32px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4)
}

.ycc-modal-content {
  margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
  width: 100%;
}

.ycc-card-4,.ycc-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.ycc-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.ycc-wide {
	letter-spacing: 4px
}

.ycc-block {
	display: block;
	width: 50%
}

.ycc-section,.ycc-code {
	margin-top: 16px!important;
	margin-bottom: 16px!important
}

.ycc-right {
	float: right!important
}

#schedule .row.timetable {
  justify-content: center;
  padding-top: 20px;
  font-size: 14px;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@media (max-width:600px) {
  .ycc-hide-small {
    display: none!important;
  }

  #main, #basic-btn {
    margin-left: 0;
  }

  .ycc-third-half {
    width: 49.99999%;
  }
}

@media (min-width:601px) and (max-width:992px) {
  .ycc-hide-medium {
    display: none!important;
  }
}

@media (min-width:993px) {
  .ycc-hide-large {
    display: none!important;
  }
}

@media (min-width:601px) {
  .ycc-quarter {
    width: 24.99999%;
  }

  .ycc-half {
    width: 49.99999%;
  }

  .ycc-third {
    width: 33.33333%;
  }

  .ycc-third-half {
    width: 33.33333%;
  }

  .ycc-padding-32-16 {
    padding-top: 0px!important;
  }

  .ycc-modal-content {
    width: 80%;
    margin-left: 120px;
  }
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}